body {
    min-width: 320px;
    margin: 0;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    margin: 5px;
}

.timer {
    width: 70px;
    height: 70px;
}

.time-counter {
    font-size: 20px;
    padding-top: 15px;
}